DATABASE_URL="sadasxs"
JWT_ACCESS_SECRET="long-access-secret"
JWT_REFRESH_SECRET="replace-with-a-long-refresh-secret"
PORT=4000
CLIENT_URL="http://localhost:5173"
SMTP_HOST="sdssas"
SMTP_PORT=587
SMTP_USER="9a571700.com"
SMTP_PASSWORD="xsmtpsiZfy0Rxl"
MAIL_FROM="Atelsda>"